<p id="notice"><%= notice %></p>

<div align = center>

<p>
  <strong>予定名:</strong>
  <%= @often_task.name %>
</p>

<%= link_to '変更', edit_often_task_path(@often_task) %> 
<%= link_to '戻る', often_tasks_path %>
